/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "IBM Plex Sans";
  color: #1A202C;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, hr, br {
  margin: 0;
  padding: 0;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #2C5B90 !important;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.banner-wrapper {
  width: 100%;
  height: auto;
  background: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0px;
}
.banner-wrapper .top-banner {
  width: 100%;
  height: 670px;
  background-image: url("../images/banner-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 250px 0px 0px 150px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .top-banner {
    width: 100%;
    height: 300px;
    padding: 16px;
  }
}
.banner-wrapper .top-banner .content-banner {
  max-width: 657px;
  height: auto;
}
.banner-wrapper .top-banner .content-banner .title-banner {
  font-style: normal;
  font-weight: 600;
  font-size: 58.8815px;
  line-height: 122%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #2c5b90;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .top-banner .content-banner .title-banner {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 122%;
    /* or 49px */
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}
.banner-wrapper .top-banner .content-banner .description-banner {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1b1b1b;
  max-width: 583px;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .top-banner .content-banner .description-banner {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
.banner-wrapper .top-banner .working-with-label-pc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #667085;
  position: absolute;
  left: 50%;
  bottom: 24px;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .top-banner .working-with-label-pc {
    display: none;
  }
}
.banner-wrapper .list-connect-branch__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .list-connect-branch__wrapper {
    padding-bottom: 30px;
  }
}
.banner-wrapper .list-connect-branch__wrapper .working-with-label-mb {
  display: none;
  padding: 27px 0px 14px 0px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #667085;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .list-connect-branch__wrapper .working-with-label-mb {
    display: block;
  }
}
.banner-wrapper .list-connect-branch {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .list-connect-branch {
    flex-direction: column;
  }
}
.banner-wrapper .list-connect-branch .branch-item {
  margin-right: 77px;
}
@media only screen and (max-width: 991px) {
  .banner-wrapper .list-connect-branch .branch-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .banner-wrapper .list-connect-branch .branch-item:last-of-type {
    margin-bottom: 0;
  }
}
.banner-wrapper .list-connect-branch .branch-item:first-of-type {
  width: 243px;
  height: 77px;
}
.banner-wrapper .list-connect-branch .branch-item:nth-of-type(2) {
  width: 247px;
  height: 68px;
}
.banner-wrapper .list-connect-branch .branch-item:nth-of-type(3) {
  width: 256px;
  height: 54px;
}
.banner-wrapper .list-connect-branch .branch-item:nth-of-type(4) {
  width: 248px;
  height: 68px;
  margin-right: 0;
}
.banner-wrapper .list-connect-branch .branch-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.problem-block__wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 72px 0px 40px 0px;
}
@media only screen and (max-width: 991px) {
  .problem-block__wrapper {
    padding: 8px 0px 0px 0px;
  }
}
.problem-block__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.problem-block__header {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .problem-block__header {
    max-width: 300px;
  }
}
.problem-block__header .label {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
}
@media only screen and (max-width: 991px) {
  .problem-block__header .label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
.problem-block__header .title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  /* or 47px */
  text-align: center;
  letter-spacing: -0.02em;
  color: #1b1b1b;
  margin: 12px 0px;
}
@media only screen and (max-width: 991px) {
  .problem-block__header .title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
  }
}
.problem-block__header .description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  text-align: center;
  letter-spacing: -0.02em;
  color: #667085;
}
.problem-block__header .hight-light {
  color: #2c5b90;
}
.problem-block__list {
  min-width: 834px;
  max-width: 834px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 66px;
}
@media only screen and (max-width: 991px) {
  .problem-block__list {
    margin-top: 80px;
    min-width: 100%;
    max-width: 100%;
  }
}
.problem-block__list .problem-item {
  min-width: calc((100% - 66px) / 2);
  max-width: calc((100% - 66px) / 2);
  height: auto;
  background: #f9fafb;
  border-radius: 16px;
  position: relative;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px 24px 32px 24px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .problem-block__list .problem-item {
    min-width: 100%;
    max-width: 100%;
  }
}
.problem-block__list .problem-item .icon {
  position: absolute;
  left: calc((100% - 88px) / 2);
  top: -40px;
}
.problem-block__list .problem-item .problem-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 105% */
  text-align: center;
  text-transform: uppercase;
  /* Primary */
  color: #2c5b90;
  margin-bottom: 28px;
}
@media only screen and (max-width: 991px) {
  .problem-block__list .problem-item .problem-title {
    max-width: 300px;
    text-align: center;
  }
}
.problem-block__list .problem-item .problem-description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  color: #667085;
}
@media only screen and (max-width: 991px) {
  .problem-block__list .problem-item .problem-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
  }
}
.problem-block__list .problem-item .text-highlight {
  color: #2c5b90;
  font-weight: 500;
}

.technology-block__wrapper {
  padding: 60px 0px 100px 0px;
}
.technology-block__content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.technology-block__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}
.technology-block__header .title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .technology-block__header .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
.technology-block__header .description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  color: #667085;
  max-width: 577px;
}
@media only screen and (max-width: 991px) {
  .technology-block__header .description {
    max-width: 100%;
  }
}
.technology-block__list {
  width: 100%;
  height: auto;
  padding: 36px 80px;
  background: #ebf4ff;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .technology-block__list {
    padding: 24px;
    border-radius: 26px;
  }
}
.technology-block__list .technology-item {
  width: calc((100% - 240px) / 3);
  height: 290px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .technology-block__list .technology-item {
    width: 100%;
    margin-bottom: 40px;
  }
}
.technology-block__list .technology-item .icon,
.technology-block__list .technology-item .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  flex-direction: column;
}
.technology-block__list .technology-item .content {
  z-index: 2;
}
.technology-block__list .technology-item .content .title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 122%;
  max-width: 258px;
  /* or 44px */
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  /* Primary */
  color: #2c5b90;
  transition: all 0.8s ease-in-out;
}
.technology-block__list .technology-item .content .btn-learn-more {
  display: none;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  /* identical to box height, or 150% */
  color: #000000;
  margin: 10px auto 0px;
  padding-left: 20px;
}
.technology-block__list .technology-item .content .btn-learn-more span {
  margin-right: 12px;
}
.technology-block__list .technology-item:hover {
  cursor: pointer;
}
.technology-block__list .technology-item:hover .icon {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}
.technology-block__list .technology-item:hover .content .btn-learn-more {
  display: flex;
}

.slider-primary {
  background: #dcecff;
}

.slider-auto-block__wrapper {
  width: 100%;
  height: auto;
  padding: 20px 40px;
}
@media only screen and (max-width: 991px) {
  .slider-auto-block__wrapper {
    padding: 8px 20px;
  }
}
.slider-auto-block__wrapper marquee {
  display: flex;
  align-items: center;
}
.slider-auto-block__wrapper .slider-image {
  min-width: 107px;
  max-width: 107px;
  height: 24px;
  margin-right: 32px;
  position: relative;
  top: -8px;
}
.slider-auto-block__wrapper .slider-text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  /* identical to box height, or 134% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
  margin-right: 32px;
}

.product-block__wrapper {
  width: 100%;
  height: auto;
  background-color: #f9fafb;
}
.product-block__content {
  padding: 70px 0px 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .product-block__content {
    padding: 20px 0px 40px 0px;
  }
}
.product-block__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 54px;
}
.product-block__header .title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
  /* identical to box height, or 134% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
}
@media only screen and (max-width: 991px) {
  .product-block__header .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
  }
}
.product-block__header .description {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #1b1b1b;
  margin-top: 12px;
  max-width: 640px;
}
@media only screen and (max-width: 991px) {
  .product-block__header .description {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    max-width: 100%;
  }
}
.product-block__list {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  padding: 90px 64px;
}
@media only screen and (max-width: 991px) {
  .product-block__list {
    padding: 40px 16px;
  }
}
.product-block__list .product-list-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 132px;
}
.product-block__list .product-list-item:last-of-type {
  margin-bottom: 0;
}
.product-block__list .product-list-item:nth-of-type(even) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item:nth-of-type(even) {
    flex-direction: column;
  }
}
.product-block__list .product-list-item:nth-of-type(even) .product-item-content {
  padding-left: 32px;
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item:nth-of-type(even) .product-item-content {
    padding-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item {
    flex-direction: column;
    margin-bottom: 80px;
  }
}
.product-block__list .product-list-item .product-item-content {
  flex-grow: 1;
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item .product-item-content {
    width: 100%;
  }
}
.product-block__list .product-list-item .product-item-content .title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 105% */
  text-transform: uppercase;
  color: #000000;
  max-width: 470px;
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item .product-item-content .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    max-width: 100%;
  }
}
.product-block__list .product-list-item .product-item-content .description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  /* Primary */
  color: #2c5b90;
  margin: 16px 0px 32px;
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item .product-item-content .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 12px 0x 32px;
    text-align: center;
  }
}
.product-block__list .product-list-item .product-item-content .list-detail li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-block__list .product-list-item .product-item-content .list-detail li:last-of-type {
  margin-bottom: 0;
}
.product-block__list .product-list-item .product-item-content .list-detail li .icon {
  margin-right: 12px;
}
.product-block__list .product-list-item .product-item-content .list-detail li .text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #667085;
}
.product-block__list .product-list-item .product-item-image {
  min-width: 560px;
  max-width: 560px;
  height: 373px;
}
@media only screen and (max-width: 991px) {
  .product-block__list .product-list-item .product-item-image {
    min-width: 100%;
    max-width: 100%;
    height: 220px;
    margin-top: 32px;
  }
}
.product-block__list .product-list-item .product-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-block__wrapper {
  width: 100%;
  height: auto;
  padding: 80px 0px 60px;
}
@media only screen and (max-width: 991px) {
  .contact-block__wrapper {
    padding: 48px 0px 60px;
  }
}
.contact-block__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .contact-block__content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  .contact-block__content .left-content,
  .contact-block__content .right-content {
    width: 100%;
  }
}
.contact-block__content .left-content {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .contact-block__content .left-content {
    margin-bottom: 24px;
  }
}
.contact-block__content .left-content img {
  min-width: 236px;
  max-width: 236px;
  height: 53px;
  margin-bottom: 30px;
}
.contact-block__content .left-content .label {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 122%;
  /* or 24px */
  letter-spacing: -0.02em;
  color: #000000;
}
.contact-block__content .right-content {
  display: flex;
  flex-direction: column;
}
.contact-block__content .right-content .label {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 122%;
  /* or 24px */
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 16px;
}
.contact-block__content .right-content .form-wrapper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .contact-block__content .right-content .form-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-block__content .right-content .form-wrapper input {
  background: #ffffff;
  min-width: 230px;
  max-width: 230px;
  padding: 10px 14px;
  /* Gray/300 */
  border: 1px solid #d0d5dd;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .contact-block__content .right-content .form-wrapper input {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.contact-block__content .right-content .form-wrapper input:focus {
  outline: none;
}
.contact-block__content .right-content .form-wrapper input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #667085;
}
.contact-block__content .right-content .form-wrapper .btn-subscribe {
  cursor: pointer;
  padding: 10px 18px;
  background: #2c5b90;
  /* Primary */
  border: 1px solid #2c5b90;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #ffffff;
}
.contact-block__content .right-content .form-wrapper .btn-subscribe:focus {
  outline: none;
}

.news-block__wrapper {
  width: 100%;
  height: auto;
  padding: 70px 0px 40px 0px;
}
@media only screen and (max-width: 991px) {
  .news-block__wrapper {
    padding-bottom: 0;
  }
}
.news-block__news, .news-block__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-block__header {
  margin-bottom: 98px;
}
.news-block__header .title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .news-block__header .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
.news-block__header .description {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #1b1b1b;
  max-width: 768px;
}
@media only screen and (max-width: 991px) {
  .news-block__header .description {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    max-width: 100%;
  }
}
.news-block__main-news {
  width: 100%;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .news-block__main-news {
    flex-direction: column;
  }
}
.news-block__main-news .main-image__wrapper {
  min-width: 536px;
  max-width: 536px;
  height: 234px;
  margin-right: 40px;
}
@media only screen and (max-width: 991px) {
  .news-block__main-news .main-image__wrapper {
    min-width: 100%;
    max-width: 100%;
    height: 150px;
  }
}
.news-block__main-news .main-image__wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}
.news-block__main-news .main-news__content {
  min-width: 337px;
  max-width: 337px;
}
@media only screen and (max-width: 991px) {
  .news-block__main-news .main-news__content {
    min-width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }
}
.news-block__list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
}
.news-block__list .news-item {
  width: calc((100% - 60px) / 2);
  display: flex;
  text-decoration: none;
  margin-bottom: 70px;
}
@media only screen and (max-width: 991px) {
  .news-block__list .news-item {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
}
.news-block__list .news-item .news__title {
  text-align: left;
}
.news-block__list .news-item:nth-of-type(3), .news-block__list .news-item:nth-of-type(4) {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .news-block__list .news-item:nth-of-type(3), .news-block__list .news-item:nth-of-type(4) {
    margin-bottom: 80px;
  }
}
.news-block__list .news-item__image {
  min-width: 240px;
  max-width: 240px;
  height: 240px;
  margin-right: 40px;
}
@media only screen and (max-width: 991px) {
  .news-block__list .news-item__image {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.news-block__list .news-item__image img {
  width: 100%;
  height: 100%;
  display: block;
}

.news__wrapper {
  width: 100%;
}
.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #000000;
  margin-right: 12px;
}
.news__icon-direction {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__time {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2c5b90;
  margin: 12px 0px;
}
.news__description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #667085;
}
.news__tags {
  display: flex;
  align-items: center;
  margin-top: 44px;
}
.news__tags .tag-item {
  padding: 2px 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;
  /* Primary */
  border-radius: 16px;
  margin-right: 8px;
}
.news__tags .tag-item:last-of-type {
  margin-right: 0;
}
.news__tags .primary-tag {
  color: #2c5b90;
  background: #ebf4ff;
}
.news__tags .secondary-tag {
  color: #c11574;
  background-color: #fdf2fa;
}

.quote-block__wrapper {
  width: 100%;
  height: auto;
}
.quote-block__content {
  background: #ebf4ff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 50px;
}
@media only screen and (max-width: 991px) {
  .quote-block__content {
    border-radius: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
.quote-block__video {
  min-width: 428px;
  max-width: 428px;
  height: 260px;
  margin-right: 60px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .quote-block__video {
    min-width: 100%;
    max-width: 100%;
    height: 186px;
    margin-right: 0;
  }
}
.quote-block__video .video-item,
.quote-block__video .mask-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quote-block__video .video-item {
  background-color: #fff;
  border-radius: 16px;
}
.quote-block__video .mask-player {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.quote-block__main-content {
  width: 100%;
  flex-grow: 1;
  position: relative;
  height: 290px;
}
.quote-block__main-content .background,
.quote-block__main-content .content-detail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px;
}
.quote-block__main-content .background .quote-title,
.quote-block__main-content .content-detail .quote-title {
  font-style: normal;
  font-weight: 600;
  font-size: 42.5382px;
  line-height: 57px;
  /* or 134% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
  max-width: 660px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .quote-block__main-content .background .quote-title,
  .quote-block__main-content .content-detail .quote-title {
    ont-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
  }
}
.quote-block__main-content .background .txt-uppercase,
.quote-block__main-content .content-detail .txt-uppercase {
  text-transform: uppercase;
}
.quote-block__main-content .background .person,
.quote-block__main-content .content-detail .person {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  text-align: center;
  color: #000000;
}
@media only screen and (max-width: 991px) {
  .quote-block__main-content .background .person,
  .quote-block__main-content .content-detail .person {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }
}

.story-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 60px 0px 120px 0px;
}
@media only screen and (max-width: 991px) {
  .story-section {
    padding: 32px 0px 40px 0px;
  }
}
.story-section .story-header {
  margin-top: 138px;
}
@media only screen and (max-width: 991px) {
  .story-section .story-header {
    margin-top: 60px;
  }
}
.story-section .story-header .story-title {
  margin-bottom: 12px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
}
.story-section .story-header .story-subtitle {
  margin-bottom: 38px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #1b1b1b;
}
@media only screen and (max-width: 991px) {
  .story-section .story-header .story-title {
    font-size: 16px;
  }
  .story-section .story-header .story-subtitle {
    font-size: 24px;
    line-height: 130%;
  }
}
.story-section .ceo-podcast {
  margin-bottom: 38px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  background: #f9fafb;
  border-radius: 16px;
}
.story-section .ceo-podcast .podcast-txt {
  margin-right: 16px;
  margin-bottom: 0px;
  max-width: 331px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #667085;
}
.story-section .ceo-podcast .podcast-link {
  cursor: pointer;
}
.story-section .story-summary {
  margin-bottom: 40px;
  max-width: 702px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  /* Gray/500 */
  color: #667085;
}
@media only screen and (max-width: 991px) {
  .story-section .story-summary {
    margin-bottom: 25px;
  }
}
.story-section .ceo-card {
  margin-bottom: 74px;
  padding: 24px 30px;
  display: flex;
  align-items: center;
  border: 1px solid #eaecf0;
  border-radius: 16px;
}
.story-section .ceo-card .ceo-img {
  margin-right: 22px;
  min-width: 228.5px;
  max-width: 228.5px;
  min-height: 228.5px;
  max-height: 228.5px;
}
.story-section .ceo-card .ceo-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.story-section .ceo-card .ceo-info {
  max-width: 313.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-section .ceo-card .ceo-info .ceo-name {
  margin-bottom: 4px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
}
.story-section .ceo-card .ceo-info .ceo-title {
  margin-bottom: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  /* secondary */
  color: #6fb2ff;
}
.story-section .ceo-card .ceo-info .job-position {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #667085;
}
.story-section .ceo-card .ceo-info .media {
  padding-left: 0px;
  display: flex;
  align-items: center;
  list-style: none;
}
.story-section .ceo-card .ceo-info .media .social-media {
  margin-right: 20px;
}
.story-section .ceo-card .ceo-info .media .social-media:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 991px) {
  .story-section .ceo-card {
    margin-bottom: 38.5px;
    padding: 24px 30px;
    flex-direction: column;
  }
  .story-section .ceo-card .ceo-img {
    margin-bottom: 32px;
    margin-right: 0px;
  }
  .story-section .ceo-card .ceo-info {
    max-width: 291.5px;
  }
}
.story-section .members-heading {
  margin-bottom: 52px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  /* identical to box height, or 183% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #323232;
}
@media only screen and (max-width: 991px) {
  .story-section .members-heading {
    margin-bottom: 38px;
    font-size: 18px;
  }
}
.story-section .team-members {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.story-section .team-members .member {
  margin-right: 30px;
  min-width: 162px;
  max-width: 162px;
  min-height: 152px;
  max-height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-section .team-members .member .member-img {
  margin-bottom: 20px;
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
}
.story-section .team-members .member .member-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.story-section .team-members .member .member-name {
  max-width: 100%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;
  color: #101828;
}
.story-section .team-members .member .member-title {
  max-width: 100%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Primary */
  color: #2c5b90;
}
.story-section .team-members .member:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 991px) {
  .story-section .team-members {
    max-width: 100%;
    overflow: auto;
  }
  .story-section .team-members .member {
    margin-right: 12px;
  }
}

/*# sourceMappingURL=home.css.map */
