@charset "utf-8";
@import "common";
@import "variables";
@import "mixins";

.main-footer__wrapper {
	width: 100%;
	height: auto;
	background-color: #2C5B90;

	.content-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 0px;

		@include mq(max_md) {
			padding: 20px 0px;
			flex-direction: column-reverse;
		}
	}

	.copy-right-txt {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #FFFFFF;
	}
	.privacy-wrapper {
		display: inline-flex;
		align-items: center;
		list-style: none;

    @include mq(max_md) {
      margin: 24px 0px;
    }

		li {
			margin-right: 16px;

			&:last-of-type {
				margin-right: 0;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				font-family: 'Rubik';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
				color: #FFFFFF;
				text-decoration: none;
			}
		}
	}
	.flow-us__wrapper {
		display: inline-flex;
		align-items: center;

    @include mq(max_md) {
      width: 100%;
      justify-content: space-between;
    }

		.label {
			font-family: 'Rubik';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #FFFFFF;
			display: block;
			margin-right: 37px;

      @include mq(max_md) {
        margin-right: 0;
      }
		}

		.menu-contact-list__wrapper {
			display: inline-flex;
			li {
				margin-right: 20px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

	}
}