@charset "utf-8";
@import "common";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.fixed-header {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  }
}

.main-header {
  position: relative;
  width: 100%;
  background: white;
  transition: all 0.4s ease;
  z-index: 1000;
  padding: 28px 0px;

  .logo-header {
    max-width: 104px;
    max-height: 24px;
    object-fit: cover;
  }

  @include mq(max_lg) {
    padding-left: 0;
    padding-right: 0;
  }

  .btn-menu {
    outline: 0;
    line-height: 1;
    box-shadow: none;
    margin-left: 5px;

    &:hover {
      path {
        stroke: $primary;
      }
    }

    path {
      transition: all 0.4s ease;
    }
  }

  .logo {
    img {
      max-height: 24px;
      transition: all 0.4s ease;

      @include mq(max_xs) {
        max-width: 104px;
      }
    }
  }
  .col-logo {
  }

  .col-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .main-nav {
      margin-top: -2px;

      li {
        &:first-child {
          margin-left: 0 !important;
        }

        @include mq(max_lg) {
          margin-left: 18px;
        }

        @include mq(max_md) {
          margin-left: 4px;
        }

        a {
          @include mq(max_lg) {
            font-size: 16px;
          }

          @include mq(max_md) {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;

    a {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-weight: 500;
      font-size: 17px;
      color: #1a202c;
      text-decoration: none;

      &:hover,
      &.active {
        color: $primary;

        &:before {
          opacity: 1;
          width: 100%;
        }
      }

      &:before {
        opacity: 0;
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        transform: translate(-50%, 0);
        height: 3px;
        width: 0;
        background: $primary;
        transition: all 0.4s ease;
      }
    }
  }
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas {
  &.show {
    width: 100%;
    border: 0;
  }

  .logo {
    img {
      max-width: 170px;

      @include mq(max_xs) {
        max-width: 140px;
      }
    }
  }

  .main-nav {
    text-align: center;

    li {
      display: block;
      margin-bottom: 40px;
    }
  }
}

.main-header-menu__wrapper {
  display: inline-flex;
  max-width: max-content;
  align-items: center;

  .main-header-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    li {
      margin-right: 32px;
      padding: 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: #667085;

        &:hover {
          color: #2C5B90;
        }
      }
    }

    .active {
      a {
        color: #2C5B90;;
      }
    }

    @include mq(max_md) {
      display: none;
    }
  }
}

.list--header-contact__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
