@charset "utf-8";
@import "common";
@import "variables";
@import "mixins";
@import "fonts";


.banner-wrapper {
    width: 100%;
    height: auto;
    background: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 0px;

    .top-banner {
        width: 100%;
        height: 670px;
        background-image: url('../images/banner-background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 250px 0px 0px 150px;
        position: relative;


        @include mq(max_md) {
            width: 100%;
            height: 300px;
            padding: 16px;
        }

        .content-banner {
            max-width: 657px;
            height: auto;

            .title-banner {
                font-style: normal;
                font-weight: 600;
                font-size: 58.8815px;
                line-height: 122%;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: #2C5B90;
                margin-bottom: 20px;

                @include mq(max_md) {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 122%;
                    /* or 49px */

                    letter-spacing: -0.02em;
                    text-transform: uppercase;
                }
            }

            .description-banner {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                color: #1B1B1B;
                max-width: 583px;

                @include mq(max_md) {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                }

            }
        }

        .working-with-label-pc {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */
          text-align: center; 
          color: #667085;
          position: absolute;
          left: 50%;
          bottom: 24px;

          @include mq(max_md) {
            display: none;
          }
        }
    }

    .list-connect-branch__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mq(max_md) {
        padding-bottom: 30px;
      }

      .working-with-label-mb {
        display: none;
        padding: 27px 0px 14px 0px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;

        color: #667085;

        @include mq(max_md) {
          display: block;
        }
      }
    }
    .list-connect-branch {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mq(max_md) {
        flex-direction: column;
      }

      .branch-item {
        margin-right: 77px;

        @include mq(max_md) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
        &:first-of-type {
          width: 243px;
          height: 77px;
        }

        &:nth-of-type(2) {
          width: 247px;
          height: 68px;
        }

        &:nth-of-type(3) {
          width: 256px;
          height: 54px;
        }

        &:nth-of-type(4) {
          width: 248px;
          height: 68px;

          margin-right: 0;
        }
        
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
}