@charset "utf-8";
@import "common";
@import "variables";
@import "mixins";
@import "fonts";

.banner-wrapper {
  width: 100%;
  height: auto;
  background: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0px;

  .top-banner {
    width: 100%;
    height: 670px;
    background-image: url("../images/banner-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 250px 0px 0px 150px;
    position: relative;

    @include mq(max_md) {
      width: 100%;
      height: 300px;
      padding: 16px;
    }

    .content-banner {
      max-width: 657px;
      height: auto;

      .title-banner {
        font-style: normal;
        font-weight: 600;
        font-size: 58.8815px;
        line-height: 122%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #2c5b90;
        margin-bottom: 20px;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 122%;
          /* or 49px */

          letter-spacing: -0.02em;
          text-transform: uppercase;
        }
      }

      .description-banner {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #1b1b1b;
        max-width: 583px;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    .working-with-label-pc {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
      text-align: center;
      color: #667085;
      position: absolute;
      left: 50%;
      bottom: 24px;

      @include mq(max_md) {
        display: none;
      }
    }
  }

  .list-connect-branch__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq(max_md) {
      padding-bottom: 30px;
    }

    .working-with-label-mb {
      display: none;
      padding: 27px 0px 14px 0px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */

      text-align: center;

      color: #667085;

      @include mq(max_md) {
        display: block;
      }
    }
  }
  .list-connect-branch {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(max_md) {
      flex-direction: column;
    }

    .branch-item {
      margin-right: 77px;

      @include mq(max_md) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
      &:first-of-type {
        width: 243px;
        height: 77px;
      }

      &:nth-of-type(2) {
        width: 247px;
        height: 68px;
      }

      &:nth-of-type(3) {
        width: 256px;
        height: 54px;
      }

      &:nth-of-type(4) {
        width: 248px;
        height: 68px;

        margin-right: 0;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.problem-block {
  &__wrapper {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 72px 0px 40px 0px;

    @include mq(max_md) {
      padding: 8px 0px 0px 0px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__header {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(max_md) {
      max-width: 300px;
    }
    .label {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      text-align: center;

      /* Primary */

      color: #2c5b90;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 130%;
      /* or 47px */

      text-align: center;
      letter-spacing: -0.02em;

      color: #1b1b1b;

      margin: 12px 0px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.02em;
      }
    }

    .description {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* or 21px */

      text-align: center;
      letter-spacing: -0.02em;

      color: #667085;
    }

    .hight-light {
      color: #2c5b90;
    }
  }

  &__list {
    min-width: 834px;
    max-width: 834px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 66px;
    @include mq(max_md) {
      margin-top: 80px;
      min-width: 100%;
      max-width: 100%;
    }

    .problem-item {
      min-width: calc((100% - 66px) / 2);
      max-width: calc((100% - 66px) / 2);
      height: auto;
      background: #f9fafb;
      border-radius: 16px;
      position: relative;
      margin-bottom: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 64px 24px 32px 24px;
      position: relative;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
      }

      .icon {
        position: absolute;
        left: calc((100% - 88px) / 2);
        top: -40px;
      }

      .problem-title {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 34px;
        /* identical to box height, or 105% */

        text-align: center;
        text-transform: uppercase;

        /* Primary */

        color: #2c5b90;
        margin-bottom: 28px;

        @include mq(max_md) {
          max-width: 300px;
          text-align: center;
        }
      }

      .problem-description {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */

        text-align: center;

        color: #667085;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          /* or 21px */
        }
      }

      .text-highlight {
        color: #2c5b90;
        font-weight: 500;
      }
    }
  }
}

.technology-block {
  &__wrapper {
    padding: 60px 0px 100px 0px;
  }

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      text-align: center;

      /* Primary */

      color: #2c5b90;
      margin-bottom: 20px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .description {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      /* or 150% */

      text-align: center;

      color: #667085;
      max-width: 577px;

      @include mq(max_md) {
        max-width: 100%;
      }
    }
  }

  &__list {
    width: 100%;
    height: auto;
    padding: 36px 80px;
    background: #ebf4ff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(max_md) {
      padding: 24px;
      border-radius: 26px;
    }

    .technology-item {
      width: calc((100% - 240px) / 3);
      height: 290px;
      position: relative;

      @include mq(max_md) {
        width: 100%;
        margin-bottom: 40px;
      }

      .icon,
      .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        flex-direction: column;
      }

      .content {
        z-index: 2;
        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 122%;
          max-width: 258px;
          /* or 44px */

          text-align: center;
          letter-spacing: -0.02em;
          text-transform: capitalize;

          /* Primary */

          color: #2c5b90;
          transition: all 0.8s ease-in-out;
        }

        .btn-learn-more {
          display: none;
          align-items: center;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          /* identical to box height, or 150% */
          color: #000000;
          margin: 10px auto 0px;
          padding-left: 20px;

          span {
            margin-right: 12px;
          }
        }
      }

      &:hover {
        cursor: pointer;
        .icon {
          width: 100%;
          height: 100%;
          transform: scale(1.4);
        }
        .content {
          .btn-learn-more {
            display: flex;
          }
        }
      }
    }
  }
}

.slider-primary {
  background: #dcecff;
}
.slider-auto-block__wrapper {
  width: 100%;
  height: auto;
  padding: 20px 40px;

  @include mq(max_md) {
    padding: 8px 20px;
  }

  marquee {
    display: flex;
    align-items: center;
  }

  .slider-image {
    min-width: 107px;
    max-width: 107px;
    height: 24px;
    margin-right: 32px;
    position: relative;
    top: -8px;
  }

  .slider-text {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    /* identical to box height, or 134% */

    text-align: center;

    /* Primary */

    color: #2c5b90;
    margin-right: 32px;
  }
}

.product-block {
  &__wrapper {
    width: 100%;
    height: auto;
    background-color: #f9fafb;
  }

  &__content {
    padding: 70px 0px 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mq(max_md) {
      padding: 20px 0px 40px 0px;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 54px;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 43px;
      /* identical to box height, or 134% */

      text-align: center;

      /* Primary */

      color: #2c5b90;
      @include mq(max_md) {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 43px;
      }
    }

    .description {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      /* or 122% */

      text-align: center;
      letter-spacing: -0.02em;

      color: #1b1b1b;
      margin-top: 12px;
      max-width: 640px;

      @include mq(max_md) {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        max-width: 100%;
      }
    }
  }

  &__list {
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    padding: 90px 64px;

    @include mq(max_md) {
      padding: 40px 16px;
    }

    .product-list-item {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      margin-bottom: 132px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        @include mq(max_md) {
          flex-direction: column;
        }

        .product-item-content {
          padding-left: 32px;
          @include mq(max_md) {
            padding-left: 0;
          }
        }
      }

      @include mq(max_md) {
        flex-direction: column;
        margin-bottom: 80px;
      }

      .product-item-content {
        flex-grow: 1;

        @include mq(max_md) {
          width: 100%;
        }

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 34px;
          /* identical to box height, or 105% */

          text-transform: uppercase;

          color: #000000;
          max-width: 470px;

          @include mq(max_md) {
            font-weight: 600;
            font-size: 20px;
            line-height: 34px;
            max-width: 100%;
          }
        }

        .description {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          /* identical to box height, or 156% */

          /* Primary */

          color: #2c5b90;
          margin: 16px 0px 32px;
          @include mq(max_md) {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            margin: 12px 0x 32px;
            text-align: center;
          }
        }

        .list-detail {
          li {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &:last-of-type {
              margin-bottom: 0;
            }
            .icon {
              margin-right: 12px;
            }

            .text {
              font-family: "Rubik";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              /* identical to box height, or 156% */

              color: #667085;
            }
          }
        }
      }

      .product-item-image {
        min-width: 560px;
        max-width: 560px;
        height: 373px;

        @include mq(max_md) {
          min-width: 100%;
          max-width: 100%;
          height: 220px;
          margin-top: 32px;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.contact-block {
  &__wrapper {
    width: 100%;
    height: auto;
    padding: 80px 0px 60px;

    @include mq(max_md) {
      padding: 48px 0px 60px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(max_md) {
      flex-direction: column;
    }

    .left-content,
    .right-content {
      @include mq(max_md) {
        width: 100%;
      }
    }
    .left-content {
      display: flex;
      flex-direction: column;
      @include mq(max_md) {
        margin-bottom: 24px;
      }
      img {
        min-width: 236px;
        max-width: 236px;
        height: 53px;
        margin-bottom: 30px;
      }

      .label {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 122%;
        /* or 24px */

        letter-spacing: -0.02em;

        color: #000000;
      }
    }

    .right-content {
      display: flex;
      flex-direction: column;

      @include mq(max_md) {
      }

      .label {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 122%;
        /* or 24px */

        letter-spacing: -0.02em;

        color: #000000;
        margin-bottom: 16px;
      }

      .form-wrapper {
        display: flex;
        align-items: center;
        @include mq(max_md) {
          flex-direction: column;
          align-items: flex-start;
        }

        input {
          background: #ffffff;
          min-width: 230px;
          max-width: 230px;
          padding: 10px 14px;
          /* Gray/300 */

          border: 1px solid #d0d5dd;
          /* Shadow/xs */

          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 8px;
          margin-right: 16px;

          @include mq(max_md) {
            min-width: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            color: #667085;
          }
        }

        .btn-subscribe {
          cursor: pointer;
          padding: 10px 18px;
          background: #2c5b90;
          /* Primary */

          border: 1px solid #2c5b90;
          /* Shadow/xs */

          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 8px;
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */

          color: #ffffff;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.news-block {
  &__wrapper {
    width: 100%;
    height: auto;
    padding: 70px 0px 40px 0px;

    @include mq(max_md) {
      padding-bottom: 0;
    }
  }

  &__news,
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__header {
    margin-bottom: 98px;
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      text-align: center;

      /* Primary */

      color: #2c5b90;
      margin-bottom: 12px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .description {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      /* or 122% */

      text-align: center;
      letter-spacing: -0.02em;

      color: #1b1b1b;
      max-width: 768px;
      @include mq(max_md) {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        max-width: 100%;
      }
    }
  }

  &__main-news {
    width: 100%;
    justify-content: center;
    display: flex;
    text-decoration: none;

    @include mq(max_md) {
      flex-direction: column;
    }

    .main-image__wrapper {
      min-width: 536px;
      max-width: 536px;
      height: 234px;
      margin-right: 40px;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        height: 150px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .main-news__content {
      min-width: 337px;
      max-width: 337px;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        margin-top: 40px;
      }
    }
  }

  &__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

    .news-item {
      width: calc((100% - 60px) / 2);
      display: flex;
      text-decoration: none;
      margin-bottom: 70px;

      @include mq(max_md) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
      }

      .news__title {
        text-align: left;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-bottom: 0;

        @include mq(max_md) {
          margin-bottom: 80px;
        }
      }

      &__image {
        min-width: 240px;
        max-width: 240px;
        height: 240px;
        margin-right: 40px;

        @include mq(max_md) {
          margin-right: 0;
          margin-bottom: 40px;
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
}

.news {
  &__wrapper {
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #000000;
    margin-right: 12px;
  }

  &__icon-direction {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2c5b90;
    margin: 12px 0px;
  }

  &__description {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #667085;
  }

  &__tags {
    display: flex;
    align-items: center;
    margin-top: 44px;

    .tag-item {
      padding: 2px 10px;

      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      text-align: center;

      /* Primary */
      border-radius: 16px;
      margin-right: 8px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .primary-tag {
      color: #2c5b90;
      background: #ebf4ff;
    }

    .secondary-tag {
      color: #c11574;
      background-color: #fdf2fa;
    }
  }
}

.quote-block {
  &__wrapper {
    width: 100%;
    height: auto;
  }

  &__content {
    background: #ebf4ff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 50px;

    @include mq(max_md) {
      border-radius: 26px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 20px;
    }
  }

  &__video {
    min-width: 428px;
    max-width: 428px;
    height: 260px;
    margin-right: 60px;
    position: relative;

    @include mq(max_md) {
      min-width: 100%;
      max-width: 100%;
      height: 186px;
      margin-right: 0;
    }

    .video-item,
    .mask-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video-item {
      background-color: #fff;
      border-radius: 16px;
    }

    .mask-player {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  &__main-content {
    width: 100%;
    flex-grow: 1;
    position: relative;
    height: 290px;

    .background,
    .content-detail {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px 0px;

      .quote-title {
        font-style: normal;
        font-weight: 600;
        font-size: 42.5382px;
        line-height: 57px;
        /* or 134% */

        text-align: center;

        /* Primary */

        color: #2c5b90;
        max-width: 660px;
        margin-bottom: 8px;

        @include mq(max_md) {
          ont-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 130%;
        }
      }

      .txt-uppercase {
        text-transform: uppercase;
      }

      .person {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        /* identical to box height, or 20px */

        text-align: center;

        color: #000000;

        @include mq(max_md) {
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
        }
      }
    }
  }
}

.story-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 60px 0px 120px 0px;

  @include mq(max_md) {
    padding: 32px 0px 40px 0px;
  }
  .story-header {
    margin-top: 138px;

    @include mq(max_md) {
      margin-top: 60px;
    }
    .story-title {
      margin-bottom: 12px;
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      /* identical to box height, or 100% */

      text-align: center;

      /* Primary */

      color: #2c5b90;
    }
    .story-subtitle {
      margin-bottom: 38px;
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height, or 122% */

      text-align: center;
      letter-spacing: -0.02em;

      color: #1b1b1b;
    }
    @include mq(max_md) {
      .story-title {
        font-size: 16px;
      }
      .story-subtitle {
        font-size: 24px;
        line-height: 130%;
      }
    }
  }
  .ceo-podcast {
    margin-bottom: 38px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    background: #f9fafb;
    border-radius: 16px;

    .podcast-txt {
      margin-right: 16px;
      margin-bottom: 0px;
      max-width: 331px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #667085;
    }

    .podcast-link {
      cursor: pointer;
    }
  }

  .story-summary {
    margin-bottom: 40px;
    max-width: 702px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;

    /* Gray/500 */

    color: #667085;
    @include mq(max_md) {
      margin-bottom: 25px;
    }
  }

  .ceo-card {
    margin-bottom: 74px;
    padding: 24px 30px;
    display: flex;
    align-items: center;
    border: 1px solid #eaecf0;
    border-radius: 16px;

    .ceo-img {
      margin-right: 22px;
      min-width: 228.5px;
      max-width: 228.5px;
      min-height: 228.5px;
      max-height: 228.5px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .ceo-info {
      max-width: 313.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .ceo-name {
        margin-bottom: 4px;
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */

        text-align: center;

        /* Primary */

        color: #2c5b90;
      }
      .ceo-title {
        margin-bottom: 20px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height, or 156% */

        /* secondary */

        color: #6fb2ff;
      }
      .job-position {
        margin-bottom: 20px;
        text-align: center;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;

        color: #667085;
      }

      .media {
        padding-left: 0px;
        display: flex;
        align-items: center;
        list-style: none;
        .social-media {
          margin-right: 20px;
        }
        .social-media:last-child {
          margin-right: 0px;
        }
      }
    }
    @include mq(max_md) {
      margin-bottom: 38.5px;
      padding: 24px 30px;
      flex-direction: column;
      .ceo-img {
        margin-bottom: 32px;
        margin-right: 0px;
      }
      .ceo-info {
        max-width: 291.5px;
      }
    }
  }
  .members-heading {
    margin-bottom: 52px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height, or 183% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #323232;
    @include mq(max_md) {
      margin-bottom: 38px;
      font-size: 18px;
    }
  }

  .team-members {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .member {
      margin-right: 30px;
      min-width: 162px;
      max-width: 162px;
      min-height: 152px;
      max-height: 152px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .member-img {
        margin-bottom: 20px;
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .member-name {
        max-width: 100%;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height, or 156% */

        text-align: center;

        color: #101828;
      }
      .member-title {
        max-width: 100%;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Primary */

        color: #2c5b90;
      }
    }
    .member:last-child {
      margin-right: 0px;
    }
    @include mq(max_md) {
      max-width: 100%;
      overflow: auto;
      .member {
        margin-right: 12px;
      }
    }
  }
}
